.card{
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    h1{
        padding: 5px;
        margin: 5px;
        border: solid 1px black;
    }
    p{
        padding: 5px;
        margin: 5px;
        border: solid 1px black;
    }
}