.item-detail {
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr, repeat(3,1fr);
    grid-template-areas: 
    "image item"
    "image price"
    "image description"
    "image itemCount";
    width: auto;
    height: auto;
    color: black;;
    .image-container{
        grid-area: image;
        height: 200px;
        width: 200px;
        overflow: hidden;
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }   
    .item{
        display: flex;
        grid-area: item;
        text-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .price{
        display: flex;
        grid-area: price;
        justify-content: center;
        text-align: center;
    }
    .description{  
        display: flex;
        grid-area: description;
        justify-content: center;
        text-align: center;
    }
    .item-count{
        grid-area:itemCount ;
    }
}
